*{
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

.home-picture{
    width: 600px;
}

.main-container{
    background-image: url(../images/home.PNG);
    background-size: cover;
    padding: 1rem;

}

.background_image{
    text-align: center;
}

nav{
    height: 50px;
}

.div-header{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.div-svg{
    height: 30px;
    width: 30px;
    padding: 0 20px;
}

.buttonWorks{
    color:#fff;
    background-color:#337ab7;
    border-color:#2e6da4;
    text-decoration: none;
}


